<%- include('./partials/header') %>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Logo Url</label>
    <input type="url" class="form-control" id="exampleFormControlInput1" placeholder="https://www.example.com/some.png">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="url" class="form-control" id="exampleFormControlInput1" placeholder="Flying Funks">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Members</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Jon Snow, Daenerys, Melisandre, Arya Stark"></textarea>
  </div>
  <div class="submitButton">
    <button type="button" class="btn btn-outline-primary" style="margin-left: auto">Submit</button>
  </div>
<%- include('./partials/footer') %>